route[SET_DIRECTION_FLAGS] {
    # determine where the message came from

    if (is_in_subnet($si, "172.16.254.2/24")) {
        xlog("L_INFO", "it's in the CORE subnet\n");
        setflag(FLT_FROM_CORE);
        return(1);
    }

    setflag(FLT_FROM_PUBLIC);
    xlog("L_INFO", "it's in the PUBLIC subnet\n");
    return(1);
}